<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='description' content=''>
  <meta name='author' content='martin3walker'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>Martin Walker</title>
  <link rel='stylesheet' href='/css/navigation.css' type='text/css'>
  <link rel='stylesheet' href='/css/page-header.css' type='text/css'>
  <link rel='stylesheet' href='/css/index.css' type='text/css'>
  <link rel='stylesheet' href='/css/preview.css' type='text/css'>

</head>
<body>
  <nav class='navigation'>
    <a href="/index.html" class='logo'>
      <span>:)</span>
    </a>
    <ul>
      <li><a href="/index.html">Home</a></li>
      <li><a href="/projects.html">Projects</a></li>
      <li><a href="/til-index.html">Today I learned</a></li>
      <li><a href="/about.html">About</a></li>
    </ul>
  </nav>
  <div class="content-wrapper">
    <div class="hero hero-animate">
      <div class="section__header">
        <h2>Hi, I'm Martin</h2>
        <p>
          I'm teaching myself about frontend development.
        </p>
      </div>
      <div class="smiley">
        <span>:)</span>
      </div>
      <div class="section__cta-container section__cta-container--white">
        <a href="/index.html">About Me</a>
      </div>
    </div>

    <div class="section width-wrapper">
      <div class="section__header">
        <h2>TIL - Today I learned</h2>
        <p>
          Keeping track of the new things that I learn.
        </p>
      </div>
      <div class= "three-column">
        <each loop = 'entry of contentful.introTils[0].fields.tils'>
          <include src="partials/til-preview.html"></include>
        </each>
      </div>
      <div class="section__cta-container section__cta-container--green">
        <a href="{{contentful.introTils[0].fields.ctaSlug}}">{{contentful.introTils[0].fields.ctaText}}</a>
      </div>
    </div>

    <div class="section width-wrapper">
      <div class="section__header">
        <h2>Projects</h2>
        <p>
          A couple of things that I've built.
        </p>
      </div>
      <div class="two-column">
        <each loop="entry of contentful.projects">
          <include src="/partials/project-preview.html"></include>
        </each>
      </div>
    </div>
  </div>
  <footer>
    <p>
      Made by Martin Walker with <a href='https://www.contentful.com' target='_blank'>Contentful</a>,
      <a href='https://www.spike.js.org' target='_blank'>Spike</a>, and <a href='https://www.netlify.com' target='_blank'>Netlify</a>.
    </p>
  </footer>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB" crossorigin="anonymous"></script>
  <script src='/js/main.js' defer></script>
</body>
