<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='description' content=''>
    <meta name='author' content='martin3walker'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <block name='title'></block>
    <link rel='stylesheet' href='/css/navigation.css' type='text/css'>
    <link rel='stylesheet' href='/css/page-header.css' type='text/css'>
    <block name='styles'></block>
  </head>
  <body>
    <nav class='navigation'>
      <div class="navigation__controls">
        <img class="navigation__controls--enter" src="/img/bars-solid.svg" />
        <img class="navigation__controls--exit" src="/img/times-solid.svg" />
      </div>
      <a href="/index.html" class='logo'>
        <span>:)</span>
      </a>
      <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/projects.html">Projects</a></li>
        <li><a href="/til-index.html">Today I learned</a></li>
        <li><a href="/about.html">About</a></li>
      </ul>
    </nav>
    <div class="content-wrapper">
      <block name='content'></block>
    </div>
    <footer>
      <p>
        Made by Martin Walker with <a href='https://www.contentful.com' target='_blank'>Contentful</a>,
        <a href='https://www.spike.js.org' target='_blank'>Spike</a>, and <a href='https://www.netlify.com' target='_blank'>Netlify</a>.
      </p>
    </footer>
    <block name='javascript'>
      <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB" crossorigin="anonymous"></script>
      <script src='/js/main.js' defer></script>
    </block>
  </body>
</html>
