@import '_global';

.introduction > img {
  max-width: 100%;
}

.introduction p {
  font-size: 1em;
  line-height: 1.5;
  margin-top: 1.5rem;
}

.introduction a {
  text-decoration: none;
}

.introduction a:hover {
  text-decoration: underline;
  color: var(--color-black);
}
