.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
  .cta-container a{
    text-decoration: none;
    color: var(--color-black);
    padding: 1rem;
    border-radius: .5rem;
    transition: .3s;
  }
  .cta-container--green a{
    border: .15rem solid var(--color-sea-green);
  }
  .cta-container--red a {
    border: .15rem solid var(--color-red);
  }
  .cta-container--white a{
    border: .15rem solid var(--color-off-white);
    color: var(--color-off-white);
  }
  .cta-container--green a:hover {
    background-color:var(--color-sea-green--light);
  }
  .cta-container--red a:hover {
    background-color:var(--color-red--light);
  }
  .cta-container--white a:hover {
    background-color:var(--color-off-white);
    color: var(--color-dark-grey)
  }
