@import '_global';

.hero {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(63,167,214);
  background: linear-gradient(45deg, var(--color-navy--mid) 0%, var(--color-navy) 25%, var(--color-navy) 75%, var(--color-navy--mid) 100%);
  color: var(--color-off-white);
  margin-top: -90px;
  transition: .5s;
  padding: 3rem 0rem;

  @media(max-width: 53rem) {
    height: auto;
    min-height: 60vh;
  }
}
  .hero span {
    font-size: 2.5em;
  }
  .hero > .section__header {
    margin-bottom: .25rem;
  }

.smiley{
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
  margin-top: .75rem;
}
.section {
  padding: 5rem 0rem;
}
  .section__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2em;
    text-align: center;
    margin-bottom: 2rem;
  }
    .section__header > p {
      font-size: 1em;
    }
    .section__header > h2{
      margin-bottom: 2rem;
    }
  .section img {
    width: 100%;
  }
  .section p {
    line-height: 1.5;
    font-size: 1em;
  }

