@import '_global';

.hero {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(63,167,214);
  background: linear-gradient(45deg, var(--color-navy--mid) 0%, var(--color-navy) 25%, var(--color-navy) 75%, var(--color-navy--mid) 100%);
  color: var(--color-off-white);
  margin-top: -90px;
  transition: .5s;
  padding: 3rem 0rem;
}
  .hero span {
    font-size: 2.5em;
  }
  .hero > .section__header {
    margin-bottom: .25rem;
  }

.smiley{
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
  margin-top: .75rem;
}

.hero-animate > .section__header > h2{
  opacity: 0;
}
.hero-animate > .section__header > p {
  opacity: 0;
}
.hero-animate > .smiley{
  transform: translateX(-100%) rotate(-90deg);
  width: 100%;
}
.hero-animate > .section__cta-container {
  opacity: 0;
}

.active {
  height: 100vh;
  transition: .5s;
}
  .active > .section__header > h2 {
    opacity: 1;
    transition: 1.2s;
    transition-delay: .5s;
  }
  .active > .section__header > p {
    opacity: 1;
    transition: 1.2s;
    transition-delay: 1.7s;
  }
  .active > .smiley {
    transform: translateX(0%) rotate(90deg);
    transition: .5s;
    transition-delay: 2.9s;
  }
  .active > .section__cta-container {
    transition: 1s;
  }

.section {
  padding: 5rem 0rem;
}
  .section__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2em;
    text-align: center;
    margin-bottom: 2rem;
  }
    .section__header > p {
      font-size: .7em;
    }
    .section__header > h2{
      margin-bottom: .8rem;
    }
  .section__cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
    .section__cta-container a{
      text-decoration: none;
      color: var(--color-black);
      padding: 1rem;
      border-radius: .5rem;
      transition: .3s;
    }
    .section__cta-container--green a{
      border: .15rem solid var(--color-sea-green);
    }
    .section__cta-container--white a{
      border: .15rem solid var(--color-off-white);
      color: var(--color-off-white);
    }
    .section__cta-container--green a:hover {
      background-color:var(--color-sea-green--light);
    }
    .section__cta-container--white a:hover {
      background-color:var(--color-off-white);
      color: var(--color-dark-grey)
    }
  .section img {
    width: 100%;
  }
  .section p {
    line-height: 1.5;
    font-size: 1em;
  }
