@import '_global';
.information-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
  .information-container__date {
    margin-bottom: 1rem;
  }
  .information-container__description {
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }
  .information-container__title {
    display: flex;
    margin-bottom: 1rem;
  }
  .information-container__title h2 {
    margin: 0rem;
  }


.preview__cta {
  display: flex;
  margin-top: auto;
}
